.nav__container{
    backdrop-filter: blur(40px);
    /* background-color: red; */
    box-shadow: 2px 5px 10px #282828;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    color: aquamarine;
}
.button{
    background-color: transparent;
    color: aquamarine;
    border-radius: 25px;
    cursor: pointer;
    padding: 7px 10px;
    border: 2px solid aquamarine;
}
.button:hover{
    background-color: aquamarine;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    padding: 7px 10px;
    border: 2px solid aquamarine;
}
