@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
.home__container{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.home__body{
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 5vh 5vw;
}
.home__body__right__name{
    color: aquamarine;
    font-size: 2.6rem;
}
.home__body__right__desc{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.home__body__third{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    right: 3vw;
}